.banner-home {
  width: 100vw;
  height: 55vh;
  object-fit: cover;
}

.carousel-caption {
  background-color: var(--black-opacity);
}

.man-container {
  background-image: url("https://media.istockphoto.com/photos/light-brown-with-spot-color-cotton-polyester-fabric-texture-fashion-picture-id836594750");
  border: var(--primary-color) solid 0.1rem;
}

.woman-container {
  background-image: url("https://media.istockphoto.com/photos/light-brown-with-spot-color-cotton-polyester-fabric-texture-fashion-picture-id836594750");
  border: var(--primary-color) solid 0.1rem;
}

.home-promo-container-woman {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 80vh;  
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/images/woman.jpg");
}

.home-promo-container-man {  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 80vh;  
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/images/man.jpg");
}

.home-promo-text-title{
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
  font-size:3rem;
}

.product-home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65vw;
  height: 80vh;
}
.woman-container {
  padding: 1%;
  display: flex;
}

.man-container {
  padding: 1%;
  display: flex;
}

@media (max-width: 700px) {
  .product-home-container {
    height: 75vh;
    align-items: start;
    justify-content: start;
    overflow: scroll;
  }

  .home-promo-container {
    width: 40vw;
  }

  .home-promo-text-title{
  font-size:1rem;
}
}
